// =============================== Color Assignments
@text-color: @black;
@navbar-link-color: @black;
@cta-btn: @hot-pink;
@cta-color: @white;
@cta-hover-bg: @white;
@cta-hover-color: @black;
@cta-hover-bdr: @black;

// =============================== Colors
// All color names come from http://chir.ag/projects/name-that-color/#FFFFFF
@french-pass: #b3eeff;
@daintree: #00252e;
@regent-gray: #808d99;
@hot-pink: #ff52bf;
@black: #000000;
@white: #ffffff;

// =============================== Media queries
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 800px)";
